body{
	background-color:#F1F1F1;
}

#first{
	font-size: 150px;
}
.small{
	font-size: 12px;
}
h1{
	color: #40A798;
	font-size: 40px;
	text-decoration: underline;
	font-family: Georgia, serif;	
}
h2{
	font-family: "Courier New", Courier, monospace;
	color: #476269;
	font-size: 40px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}